@charset "UTF-8";

TpButton {
    gap: 10dp;
    font-size: 13dp;
    border-radius: 30;
    color: rgb(255, 255, 255);
    background-color: linear-gradient(90deg, rgb(107, 80, 246) 0, rgb(204, 143, 237) 1);
    /*渐变仅支持角度设置、目前仅支持线性渐变*/
}

TpButton:active {
    background-color: rgb(204, 143, 237);
}

TpButton[type="TextButton"] {
    font-size: 13dp;
    color: rgb(150, 100, 246);
}

TpButton[type="TextButton"]:active {
    color: rgb(204, 143, 237);
}

TpButton[type="LightButton"] {
    gap: 10dp;
    font-size: 13dp;
    border-radius: 30;
    color: rgb(54, 59, 100);
    border-color: rgb(238, 164, 206);
    background-color: rgb(255, 255, 255);
}

TpButton[type="LightButton"]:checked {
    color: rgb(255, 255, 255);
    background-color: linear-gradient(90deg, rgb(238, 164, 206), rgb(193, 80, 246));
}

TpButton[type="LabelButton"] {
    gap: 10dp;
    font-size: 13dp;
    border-radius: 30;
    color: rgb(54, 59, 100);
    border-color: rgb(54, 59, 100);
    background-color: rgb(255, 255, 255);
    /* background-color: linear-gradient(90deg, rgb(238, 164, 206), rgb(193, 80, 246)); */
}

TpButton[type="LabelButton"]:checked {
    border-color: rgb(107, 80, 246);
    background-color: rgb(255, 255, 255);
    /* background-color: linear-gradient(270deg, rgb(193, 80, 246), rgb(238, 164, 206)); */
}

TpButton[type="VirtualKeyboardButton"] {
    font-size: 16dp;
    color: rgb(38, 38, 38);
    background-color: rgb(255, 255, 255);
    border-radius: 13;
}

TpButton[type="VirtualKeyboardButton"]:active {
    background-color: rgb(208, 215, 221);
}

TpButton[type="VirtualKeyboardButton"]:checked {
    background-color: rgb(208, 215, 221);
}

TpButton[type="VirtualKeyboardApplyButton"] {
    font-size: 13dp;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 71, 255);
    border-radius: 13;
}

TpButton[type="VirtualKeyboardApplyButton"]:active {
    background-color: rgb(100, 135, 255);
}

TpButton[type="ControlPanelPowerCloseButton"] {
    height: 60dp;
    width: 60dp;
    background-color: rgb(255, 255, 255);
    border-radius: 32;
}

TpSlideProgressBar {
    height: 64dp;
    width: 305dp;
    icon-size: 33dp;
    /* background: rgba(0, 0, 0, 0.3); */
    background: rgba(60, 60, 67, 0.3);
    color: rgba(255, 255, 255, 1);
    border-radius: 16;
}

TpPanelSwitchButton {
    color: rgb(255, 255, 255);
    height: 153dp;
    width: 153dp;
    font-size: 13dp;
    padding-top: 25dp;
    padding-bottom: 25dp;
    gap: 31dp;
    /* icon-size: 50dp; */
    icon-background: rgba(240, 240, 240, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 29;
}

TpPanelSwitchButton:checked {
    background-color: rgb(140, 29, 235);
}

TpNotificationItem {
    width: 508dp;
    height: 103dp;
    padding: 19dp;
    font-size: 16dp;
    color: rgb(38, 38, 38);
    sub-color: rgb(89, 89, 89);
}

TpTabBar {
    height: 80dp;
    padding-top: 16dp;
    padding-bottom: 16dp;
    gap: 4dp;
    color: rgb(89, 89, 89);
    background-color: rgb(248, 248, 248);
    font-size: 12;
}

TpTabBar:checked {
    color: rgb(162, 53, 255);
}

TpIconTopButton {
    icon-size: 80dp;
    font-size: 12dp;
    color: rgb(255, 255, 255);
}

TpLineEdit {
    gap: 10dp;
    font-size: 13;
    padding-top: 5dp;
    padding-bottom: 5dp;
    padding-left: 5;
    padding-right: 5;
    background-color: rgb(255, 255, 255);
    color: rgb(38, 38, 38);
}

TpLineEdit[type="fileManageEdit"] {
    gap: 10dp;
    font-size: 13;
    padding-top: 16dp;
    padding-bottom: 16dp;
    border-radius: 28;
    padding-left: 25;
    padding-right: 25;
    min-height: 56dp;
    max-height: 56dp;
    background-color: rgb(236, 236, 236);
    color: rgb(38, 38, 38);
}

TpCollapsibleFileWidget {
    min-height: 60;
    height: 60;
    /* max-height: 60dp; */
    border-radius: 20;
    padding-top: 13dp;
    padding-bottom: 13dp;
    padding-left: 19dp;
    padding-right: 19dp;
    font-size: 13;
    color: rgb(38, 38, 38);
    background-color: rgb(255, 255, 255);
}

TpCollapsibleFileItem {
    color: rgb(38, 38, 38);
    font-size: 9dp;
    icon-size: 75dp;
    gap: 20dp;
    min-width: 131dp;
    min-height: 130;
}

TpMediaTileButton {
    icon-size: 34dp;
    min-width: 88dp;
    min-height: 88dp;
    max-width: 88dp;
    max-height: 88dp;
    font-size: 10dp;
    gap: 5dp;
    color: rgb(38, 38, 38);
    background-color: rgb(255, 255, 255);
    border-radius: 20;
}

TpMediaTileButton:checked {
    background-color: rgb(243, 230, 255);
}

TpMenuPanelWidget {
    background-color: rgb(255, 255, 255);
    border-radius: 20;
}

TpMenuPanelItem {
    min-height: 65dp;
    max-height: 65dp;
    border-radius: 20;
    background-color: rgb(255, 255, 255);
    color: rgb(38, 38, 38);
    font-size: 13;
    gap: 12;
    padding-top: 15dp;
    padding-bottom: 15dp;
    padding-left: 20dp;
    padding-right: 20dp;
    icon-size: 35dp;
}

TpMenuPanelItem:checked {
    background-color: rgb(247, 237, 255);
}

TpFilePathWidget {
    min-height: 31dp;
    background-color: rgb(255, 255, 255);
    gap: 5dp;
}

TpFilePathWidgetItem {
    font-size: 12dp;
    background-color: rgb(241, 241, 241);
    color: rgb(140, 140, 140);
    padding-left: 12dp;
    padding-right: 12dp;
    padding-top: 4dp;
    padding-bottom: 4dp;
    border-radius: 17;
    min-width: 20;
}

TpFilePathWidgetItem:checked {
    background-color: rgb(243, 230, 255);
    color: rgb(140, 29, 235);
}

TpMenu {
    background-color: rgb(255, 255, 255);
    color: rgb(38, 38, 38);
    font-size: 13;
    padding-top: 14;
    padding-bottom: 14;
    padding-left: 16;
    padding-right: 16;
    border-radius: 15;
    gap: 8;
}

TpComBox {
    width: 399;
    min-width: 120;
    min-height: 65;
    height: 65;
    border-radius: 20;
    background-color: rgb(255, 255, 255);
    color: rgb(38, 38, 38);
    padding-left: 20;
    padding-right: 20;
    font-size: 13;
    gap: 8;
}

TpListWidget {
    width: 399;
    /* min-width: 120; */
    border-radius: 20;
    background-color: rgb(255, 255, 255);
    color: rgb(38, 38, 38);
    padding-left: 20;
    padding-right: 20;
}

TpListWidgetItem {
    min-height: 65;
    height: 65;
    background-color: rgb(255, 255, 255);
    color: rgb(38, 38, 38);
    font-size: 13;
    border-radius: 20;
}

TpListWidgetItem:checked {
    color: rgb(140, 29, 235);
}

TpPercentProgressBar {
    min-height: 60;
    min-width: 60;
    border-radius: 20;
    background-color: rgb(255, 255, 255);
    sub-color: rgb(248, 248, 248);
    font-size: 10;
    color: rgb(38, 38, 38);
    gap: 18;
}

TpCheckBox {
    min-height: 25;
    min-width: 25;
    /* max-height: 25; */
    height: 25;
    width: 25;
    border-radius: 8;
    border-color: rgb(191, 191, 191);
    border-width: 2;
    background-color: rgb(216, 216, 216);
    color: rgb(38, 38, 38);
    font-size: 11;
    gap: 15;
}

TpCheckBox:checked {
    border-color: rgb(140, 29, 235);
    background-color: rgb(140, 29, 235);
}

TpSlider {
    min-height: 32;
    min-width: 32;
    border-radius: 5;
    background-color: rgba(120, 120, 128, 0.2);
    sub-color: rgb(140, 29, 235);
}

TpRadioButton {
    color: rgb(38, 38, 38);
    border-color: rgb(38, 38, 38);
    background-color: rgb(38, 38, 38);
}